---
title: About
layout: compress
permalink: /about/index.html
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    <title>{{ page.title }}</title>

    {% seo %}

    <!-- icons -->
    <link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png" />

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>{% include main.css %}</style>
</head>
<body>

    <div class="site-wrapper">
        {% if page.tag %}
            <div class="post">
        {% else %}
            <div class="{{ page.title | downcase }}">
        {% endif %}

	    <nav class="{% if page.title == "Home" %}home__header-nav{% else %}nav{% endif %}">
		    <ul>
		        {% if page.title != "Home" %}<li><a href="{{ site.url }}/">Home</a></li>{% endif %}
		        {% if page.title != "Articles" %}<li><a href="{{ site.url }}/articles">Articles</a></li>{% endif %}
		         <!-- {% if page.title != "SoyCandle" %}<li><a href="{{ site.url }}/soycandle">SoyCandle</a></li>{% endif %} -->    
		        <!-- {% if page.title == "Home" %}<li><a href="http://github.com/{{ site.github }}" target="_blank">Github</a></li>{% endif %} -->
		        {% if page.title != "About" %}<li><a href="{{ site.url }}/about">About</a></li>{% endif %}
		    </ul>
		</nav>

		<div class="page">
			<h1>About</h1>

			<style>
			img { width: 50%; margin: 0 auto; display: block; }
			</style>

			<img alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

			<p> HI! I’m an Agile Coach in Korea. Especially interested in turning my ideas to goods and growing up of team and organization. So I’m constantly trying to improve the process and product.<br>
			Also, I am on a NON-PROFIT Global Agile team <a href="https://www.notion.so/SCRUM-KOREAN-28dd87ffda9b45d895972e300a12073c" target="_blank">Scrum Korean</a>.</p><br>

			
			<h2>Book, Writer</h2>
			<ul>
				<li><a href="http://book.naver.com/bookdb/book_detail.naver?bid=22549634">[책] 애자일 조직은 이렇게 일합니다, 비즈니스 가치와 성장 마인드셋에 집중하는 핵심 애자일 원칙 28 (2022. 06)</a></li>
				<li><a href="https://insightbook.co.kr/book/119">[책] 사용자 스토리 맵 만들기, 아이디어를 올바른 제품으로 만드는 여정 (2018. 11)</a></li>
				<li><a href="https://careerly.co.kr/profiles/124929">커리어리 큐레이터 (2021 - )</a></li>
				<li><a href="https://heyjoyce.com/profile/MjIyMg">헤이조이스 펠로우 (2020 - )</a></li>
				<li><a href="https://brunch.co.kr/magazine/mhmj">[매거진] 개발자와 애자일코치 부부 성장일기 (2019 - )</a></li>
				<li><a href="http://hub.zum.com/banglab">[매거진] 허브줌 필진 (2016-2017)</a></li>
				<li><a href="https://brunch.co.kr/magazine/worldmakerfaire">[매거진] 세계 메이커페어 투어하기 (메이커로 활동하던 시절, 세게의 메이커들을 만나러 다니면서 쓴 글) (2015 - 2017)</a></li>
				<li><a href="https://brunch.co.kr/magazine/whatrudoing">[매거진] 여행인지 출장인지 (휴가내고 여행을 다니면서 해외 SW 회사 개발자&디자이너를 인터뷰) (2015 - 2018)</a></li>
				<li><a href="https://brunch.co.kr/magazine/uxovertech">[매거진] Tech 보다 UX (동일한 기술을 활용하여 사용자들의 환호를 받는 제품과 아닌 제품의 UX 분석) (2015 - 2017)</a></li>
				<li><a href="https://midaeng.gitbooks.io/framer-js/content/">[번역] framer.js 도큐먼트 번역 (2015)</a></li>
				<li><a href="https://www.scrum.org/resources/scrum-guide">[번역] 스크럼 가이드 by Ken Schwaber and Jeff Sutherland into Korean 번역팀 (2014 - Present)</a></li>
			</ul>
			
			<h2>Presentation & Consulting</h2>
			<ul>
				<li>[강의] Move Fast, 우리가 함께 영향력 있는 결과를 만드는 방법 @하이퍼커넥트 (2022.06.13)</li>
				<li>[강의] 우리가 함께 영향력 있는 결과를 만드는 방법 @오브젠 (2022.05.12)</li>
				<li><a href="https://makeus-challenge.oopy.io/d512d5a5-a882-4332-a214-9978de0e61aa">[멘토링] 앱런칭 서비스 기획개발 멘토링, UMC-전국 대학 IT 동아리 연합 (2021.12-2022.02)</li>
				<li><a href="https://app.sli.do/event/l05b6zd8/live/questions">[강의] 42서울 애자일 밋업, 교육생 대상 (2021.12.09)</a></li>
				<li>[강의] 효과적으로 프로젝트 관리하기, 임원 & 팀장 대상, LG에너지솔루션 (2021.03.24)</li>
				<li><a href="https://heyjoyce.com/program/event/1324">[강연] 개발자와 기획자가 사이좋게 협업하는 법, 헤이조이스 (2021.03.16)</a></li>
				<li>중앙대학교 캡스톤 멘토링 (2020년 2학기, 2021년 1-2학기, 2022년 1학기) </li>
				<li>[강의] 효과적으로 프로젝트 관리하기, Naver Labs (2019)</li>
				<li>[강의] 네 프로젝트가 내 프로젝트가 되어가는 여정, PM & 데이터 사이언스 대상, SK하이닉스 (2019.05)</li>
				<li>[강연] 아이디어를 눈에 보이는 제품과 서비스로 구체화하는 성공적인 방법, 오렌지라이프 (2019.01)</li>
				<li>[세미나] 세계 메이커 페어 참관하고 세미나와 강연 다수 진행 (2015 - 2017)</li>
				<li><a href="http://www.banglab.com/articles/value_proposition">[세미나] Go to world maker faire, LG전자 CTO/MC Lab(2016.03-04)/상품기획연구회 (2016.03)</a></li>
				<li>[심사] LG생활과학아이디어 공모전 본선 심사 위원 (청소년 사회공헌 프로그램, LG사이언스홀 주최, 미래창조과학부 후원) (2015-2018)</li>
				<li><a href="http://m.inven.co.kr/webzine/wznews.php?idx=174334">[자문] 모바일 게임, 애자일의 신</a></li>
				<li><a href="http://www.banglab.com/articles/techux-10">[UX 프로젝트] 공차 키오스크 & 메뉴보드 프로젝트(2015)</a></li>
				<li><a href="https://youtu.be/q3iNwVZSXQw">[강연] 수파리 - 아름다운 이별을 위한 우리의 자세, LG (2014.08.12)</a></li>
			</ul>
			
			<h2>Conference & Workshop</h2>
			<ul>
				<li><a href="https://if.kakao.com/session/31">[컨퍼런스] if(kakao)2021 - 지라 쓰는게 애자일 아니라고 했어 안했어?! (2021.11.16)</a></li>
				<li><a href="https://youtu.be/9gj76bXspiA">[컨퍼런스] AKC2018 - 네 프로젝트가 내 프로젝트가 되어가는 여정 (2018.11.23)</a></li>
				<li><a href="https://youtu.be/4z12AEoTEeE">[컨퍼런스] AKC2017 - 개발자와 기획자, 디자이너가 함께 일하기 위한 가장 간단한 도구, 종이와 펜 (2017.10.29)</a></li>
				<li><a href="http://youngmaker.kr/">[워크숍] 영메이커 페스티벌 2016 : 드론 해커톤, 캠핑을 더 즐겁게! 모기 쫓는 소이 캔들 만들기 (2016, 2017)</a></li>
				<li><a href="http://www.banglab.com/articles/techux-07">[워크숍] 웨어러블 해커톤 기획/진행, LGE</a></li>
				<li>[컨퍼런스] 애자일 코리아 컨퍼런스, 오거나이저 (2011, 2012, 2017, 2018)</a></li>
			</ul>
			
			<h2>Interviews</h2>
			<ul>
				<li><a href="http://bizhankook.com/bk/article/11753">사교육으로 변질되지 않는 메이커 문화 꿈꾼다.</a></li>
			</ul>
			
		    
			<h2>Skills</h2>

			<ul class="skill-list">
				<li>Agile Coaching for Enterprise (Business strategy and Organization design)</li>
				<li>Agile Business Analysis (Requirement management)</li>
				<li>Agile Product Management/Agile Delivery Management</li>
				<li>Adopt Scrum, Kanban and Scrumban for 1-n team(s)</li>
				<li>Facilitation</li>
				<li>Process Engineering (making/tailoring process for organization)</li>
				<li>Design Thinking</li>
				<li>Making Prototype(Low ~ High fidelity)</li>
				<li>MBTI for person, team and organization</li>
			</ul>

		</div>


	    <footer>
		    {{ site.name }} © {{ site.time | date: '%Y' }} <a href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
		</footer>

        </div>
    </div>

    {% include icons.html %}

    <!-- Google Analytics Tracking code -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>


